* {
  background-color: #282c34;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: lavenderblush;
  display: block;
  background-color: darkslategray;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:lavender;
  text-decoration: none;
  padding: 0 3rem;
  background-color: darkslategray;
}

.nav ul {
  display: flex;
  list-style-type: none;
  background-color: darkslategray;
}

.nav li {
  padding-left: 30px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkslategray;

}

.site-title {

  font-size: 30px;
}
